__pycache__
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/

*DS_Store

.vscode/*

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*
Examples/ForcePlateIntegration/all_forces
Examples/ForcePlateIntegration/data_bases
Examples/ForcePlateIntegration/graficas
Examples/ForcePlateIntegration/graficas_gfr
Examples/ForcePlateIntegration/graficas_gfr_all
Examples/ForcePlateIntegration/graficas_gfr_vs_rod
Examples/ForcePlateIntegration/graficas_rod_gfr
Examples/ForcePlateIntegration/images_graficas
Examples/ForcePlateIntegration/tablas_af
Examples/ForcePlateIntegration/resultados_fuerza
Examples/ForcePlateIntegration/up_drive/.venv
*.mat
*.xlsx









